# Class 1(Data Analytics)

In [ ]:
#To check the version of pandas library

In [2]:
import pandas as pd

In [4]:
print(pd.__version__)

1.0.1

In [2]:
import pandas as pd

In [4]:
print(pd.__version__)

1.0.1

In [14]:
names = ["satish","BP bro","Deep","Shubhagi"]

In [15]:
names

['satish', 'BP bro', 'Deep', 'Shubhagi']

In [22]:
name = pd.Series(names ,index = ["a","b","c","d"])

In [19]:
name

0      satish
1      BP bro
2        Deep
3    Shubhagi
dtype: object

In [20]:
name = pd.Series(names,index = ["a","b","c",103])

In [21]:
name

a        satish
b        BP bro
c          Deep
103    Shubhagi
dtype: object

In [23]:
type(name)

pandas.core.series.Series

In [24]:
d = {"India": 1000, "chicago": 2000, "Bangladesh": 3000}

In [27]:
df = pd.Series(d)

In [28]:
df

India         1000
chicago       2000
Bangladesh    3000
dtype: int64

In [29]:
df["India"]=700

In [30]:
df

India          700
chicago       2000
Bangladesh    3000
dtype: int64

In [31]:
df["chicago"]

2000

In [32]:
df["Bangladesh"]

3000

In [33]:
df[df>1000] = 5000

In [34]:
df

India          700
chicago       5000
Bangladesh    5000
dtype: int64

In [35]:
df["noida"]=1000

In [36]:
df

India          700
chicago       5000
Bangladesh    5000
noida         1000
dtype: int64

In [37]:
df.isna()

India         False
chicago       False
Bangladesh    False
noida         False
dtype: bool

In [ ]:
# There is no null value in this dataset

In [38]:
df/3

India          233.333333
chicago       1666.666667
Bangladesh    1666.666667
noida          333.333333
dtype: float64

In [39]:
df[0:3]

India          700
chicago       5000
Bangladesh    5000
dtype: int64

In [ ]:
#what is a dataframe?
#It is a 2D tabular like structure with heterogeneous columns

In [41]:
import numpy as np
import pandas as pd

In [42]:
random.rand --- It is used to generate some random numbers between [0,1](5,4)# % rows and 4 columns

SyntaxError: invalid syntax (<ipython-input-42-67f7d73f074e>, line 1)

In [43]:
a = np.random.rand(5,4)

In [44]:
a

array([[0.80041751, 0.90095061, 0.44184672, 0.37931153],
       [0.41058212, 0.38006586, 0.37409754, 0.90928386],
       [0.87588481, 0.93500717, 0.48503063, 0.93968624],
       [0.78306306, 0.14487111, 0.29494592, 0.1444215 ],
       [0.27787287, 0.24133888, 0.3740625 , 0.90637982]])

In [ ]:
#It will give the values between 0 and 1

In [45]:
df = pd.DataFrame(np.random.rand(5,4), index = ["a","b","c","d","e"], columns = ["w","x","y","z"])

In [46]:
df

          w         x         y         z
a  0.863106  0.177334  0.347068  0.550307
b  0.091928  0.888292  0.334395  0.997848
c  0.652978  0.517972  0.546437  0.269984
d  0.657903  0.690803  0.983340  0.639991
e  0.431007  0.286358  0.358266  0.850428

In [ ]:
# To rename the columns

In [54]:
df.rename(columns ={"w" : "F"},inplace = True)

In [55]:
df

          F         x         y         z
a  0.863106  0.177334  0.347068  0.550307
b  0.091928  0.888292  0.334395  0.997848
c  0.652978  0.517972  0.546437  0.269984
d  0.657903  0.690803  0.983340  0.639991
e  0.431007  0.286358  0.358266  0.850428

In [56]:
df.rename(index = {"a":"G"},inplace= True)

In [57]:
df

          F         x         y         z
G  0.863106  0.177334  0.347068  0.550307
b  0.091928  0.888292  0.334395  0.997848
c  0.652978  0.517972  0.546437  0.269984
d  0.657903  0.690803  0.983340  0.639991
e  0.431007  0.286358  0.358266  0.850428

In [ ]:
#df.describe() returns the descriptive statistics of DataFrame

In [58]:
df.describe()

              F         x         y         z
count  5.000000  5.000000  5.000000  5.000000
mean   0.539384  0.512152  0.513901  0.661712
std    0.293133  0.290051  0.276455  0.280595
min    0.091928  0.177334  0.334395  0.269984
25%    0.431007  0.286358  0.347068  0.550307
50%    0.652978  0.517972  0.358266  0.639991
75%    0.657903  0.690803  0.546437  0.850428
max    0.863106  0.888292  0.983340  0.997848

In [ ]:
# to fetch a column

In [61]:
df[["F","x","y"]]

          F         x         y
G  0.863106  0.177334  0.347068
b  0.091928  0.888292  0.334395
c  0.652978  0.517972  0.546437
d  0.657903  0.690803  0.983340
e  0.431007  0.286358  0.358266

In [70]:
df = pd.DataFrame(np.random.rand(5,4),index =["a","b","c","d","e"],columns = ["w","x","y","z"])

In [71]:
df

          w         x         y         z
a  0.566867  0.276638  0.373493  0.063975
b  0.079496  0.352380  0.790318  0.478944
c  0.803991  0.188138  0.680458  0.558289
d  0.900587  0.365997  0.260762  0.357185
e  0.189910  0.077648  0.089230  0.059976

In [79]:
df.rename(index = {"a":"g"},inplace = True)

In [80]:
df

          f         x         y         z
g  0.566867  0.276638  0.373493  0.063975
b  0.079496  0.352380  0.790318  0.478944
c  0.803991  0.188138  0.680458  0.558289
d  0.900587  0.365997  0.260762  0.357185
e  0.189910  0.077648  0.089230  0.059976

In [81]:
df.describe()

              f         x         y         z
count  5.000000  5.000000  5.000000  5.000000
mean   0.508170  0.252160  0.438852  0.303674
std    0.364005  0.120577  0.291601  0.231978
min    0.079496  0.077648  0.089230  0.059976
25%    0.189910  0.188138  0.260762  0.063975
50%    0.566867  0.276638  0.373493  0.357185
75%    0.803991  0.352380  0.680458  0.478944
max    0.900587  0.365997  0.790318  0.558289

In [82]:
df["f"]

g    0.566867
b    0.079496
c    0.803991
d    0.900587
e    0.189910
Name: f, dtype: float64

df[["f","x","y"]]

In [92]:
df.drop("c",inplace = True )# It is used to drop a specific row

In [93]:
df

          x         y         z
b  0.352380  0.790318  0.478944
d  0.365997  0.260762  0.357185
e  0.077648  0.089230  0.059976

In [94]:
df.drop("y",axis = 1,inplace = True)# It is used to drop a particular columns

In [95]:
df

          x         z
b  0.352380  0.478944
d  0.365997  0.357185
e  0.077648  0.059976

In [96]:
df1 = pd.DataFrame(np.random.rand(5,4),index = ['A', 'B', 'C', 'D', 'E'],columns='W X Y Z'.split())

#

In [97]:
df1

          W         X         Y         Z
A  0.630931  0.158351  0.643439  0.686129
B  0.870341  0.057416  0.124643  0.979714
C  0.426326  0.946458  0.105067  0.352459
D  0.191620  0.277412  0.850220  0.184589
E  0.224162  0.485725  0.642403  0.469854

In [98]:
df1.loc["A":"D"]

          W         X         Y         Z
A  0.630931  0.158351  0.643439  0.686129
B  0.870341  0.057416  0.124643  0.979714
C  0.426326  0.946458  0.105067  0.352459
D  0.191620  0.277412  0.850220  0.184589

In [99]:
df1.loc["A":"D","Y"]

A    0.643439
B    0.124643
C    0.105067
D    0.850220
Name: Y, dtype: float64

In [102]:
df1.loc["A"]["W"]

0.6309311585755227

In [103]:
df1.iloc[0:2,0:3]

          W         X         Y
A  0.630931  0.158351  0.643439
B  0.870341  0.057416  0.124643